.title {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 10vmin;
    line-height: 6vmin;
    margin-bottom: 0;
    color: black;
}

.subtitle {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 7vmin;
    margin-bottom: 0;
    color: black;
}

.section-title, .card-title, p {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
}

.section-title {
    font-size: 4vmin;
    font-weight: bolder;
    text-transform: uppercase;
}

.card-title {
    font-size: 2.5vmin;
    font-weight: bold;
}

.card-price {
    color: #F4CE14;
    font-weight: bold;
}

p {
    font-size: 2vmin;
    line-height: 1.5;
}

#bookingForm {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-width: 5px;
    border-style: solid;
    border-color: #495E57;
    --chakra-space-2: 0px;

    #bookingSubmit {
        background-color: #F4CE14;
    }
}

#heroSection {
    background-color: #495E57;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    figure {
        margin-bottom: 0;
    }

    button {
        background-color: #F4CE14;
        color: black;
    }
}

#highlights {
    --card-padding: 0;

    button {
        background-color: #F4CE14;
        color: black;
    }

    .chakra-card {
        border-radius: 0;
        border-top-left-radius: 16pt;
        border-top-right-radius: 16pt;
    }
}